/* PROGRESS BAR */
.progress-bar {
  /* position: relative; */
  height: 20px;
  width: 350px;
	border-radius: 50px;
	border: 2px solid #000;
	margin-top: 20px;
}

.progress-container {
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: column;
 	width: 100%;
}

.range {
 	background: #050d55;
 	height: 100%;
 	border-radius: inherit;
 	transition: width .3s ease-in;
}