.introHeading {
  color:navy;
  font-size: 50px;
}

.quizCategory {
  font-weight: 600;
  font-size: 24px;
}

body{
  background-color: powderblue;
}
.background{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./Assets/Paris.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: powderblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  height:700px;
  padding:50px;

}

.introtext {
  display: flex;
  flex-direction: column;
  align-items: center;
}

